InlayHints:
  BlockEnd: No
  Designators: No
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: No
  TypeNameLimit: 24
Diagnostics:
  ClangTidy:
    Add: modernize* readability* performance* bugprone* cppcoreguidelines*
CompileFlags:
  Add:
    [
      -Wall,
      -Wextra,
      -Wpedantic,
      -Werror,
      -Wshadow,
      -Wconversion,
      -Wsign-conversion,
      -Wno-error=unused-parameter,
      -Wno-error=unused-variable,
      -Wno-error=unused-function,
      -Wno-error=deprecated,
      -fstack-protector,
      -fPIC,
      -fno-rtti,
      -fno-exceptions,
      -std=c++20,
    ]
