# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.build/
install/
example.nit
out.json

translate/lexer/corpus/
translate/lexer/corpus-min/
fuzz-*.log
runtime/libazide-gc/target/


# Added by cargo

/target
src/translation/src/*/target
tmp/
src/translation/src/token_lexer/lcov.info
src/translation/src/token_lexer/tarpaulin-report.json
src/translation/src/token_lexer/cobertura.xml
src/translation/src/token_lexer/tarpaulin-report.html
src/translation/src/token_lexer/cov.json
