# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cmake
.build/
build/
qpkg/example-project

.qpkg/
main.c
libnitrate-lexer/fuzzer/corpus/*
libnitrate-seq/fuzzer/corpus/*
libnitrate-parser/fuzzer/corpus/*
libnitrate-ir/fuzzer/corpus/*
libnitrate/fuzzer/the-corpus/
fuzz-*.log
*.snap
bugs/
nitrate-meta
nitrate-parse
examples/test.q

