# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cmake
/.build/
/build/
no3/example-project

.no3/
main.c
libnitrate-lexer/fuzzer/corpus/*
libnitrate-seq/fuzzer/corpus/*
libnitrate-parser/fuzzer/corpus/*
libnitrate-ir/fuzzer/corpus/*
libnitrate/fuzzer/the-corpus/
fuzz-*.log
*.snap
bugs/
nitrate-lex
nitrate-meta
nitrate-parse
examples/test.q

nitrate-nr
dev.n
module.nr
pipeline/libnitrate-parser/src/core/SyntaxTree.pb.cc
pipeline/libnitrate-parser/src/core/SyntaxTree.pb.h
default.profraw
coverage/
package-example/
no3/lib/src/core/PackageConfigFormat.pb.cc
no3/lib/src/core/PackageConfigFormat.pb.h
